@charset "utf-8";

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px #FF6694;
  font-size: 58px;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
}

#start {
  width: 200px;
}

#stop {
  width: 200px;
}

#view {
  color: #353535;
  text-shadow: white 1px 1px 0px, white -1px 1px 0px,
               white 1px -1px 0px, white -1px -1px 0px;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
}

.num {
  font-size : 18em;
}

hr {
    height:3px;
    border:0;
    background:linear-gradient(left, #f5f5f5, #999, #f5f5f5);
    background:-webkit-linear-gradient(left, #f5f5f5, #999, #f5f5f5);
    background:-moz-linear-gradient(left, #f5f5f5, #999, #f5f5f5);
}

html { 
    background-image: url(../img/back1.jpg);
    background-repeat: no-repeat;
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-color: #ffcccc;
}

/*画像サイズが合わない場合はここで調整*/
img {
    width: 100%;
    height: auto;
    /* 
    max-height:400px;
    max-width:400px;
    */
}

.relative {
    position: relative;
    /*
    max-height:400px;
    max-width:400px;
    */
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.absolute {
    position: absolute;
    bottom: 5px;
    color: #fff;
    background: rgba(204,51,102,.6);
    width: 100%;
    max-width: 10000px;
    padding: 2px 0;
}
.absolute p {
   font-size : 2em;
    margin: 0;
    padding: 0 0.8em;
    text-align: center;
}
