@charset "utf-8";

#view {
  font-size : 18em;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
  }

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px #FF6694;
  font-size: 58px;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
}

#start {
  width: 200px;
}

#stop {
  width: 200px;
}

#view {
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

hr {
    height:3px;
    border:0;
    background:linear-gradient(left, #f5f5f5, #999, #f5f5f5);
    background:-webkit-linear-gradient(left, #f5f5f5, #999, #f5f5f5);
    background:-moz-linear-gradient(left, #f5f5f5, #999, #f5f5f5);
}
